@font-face {
  font-family: "Avenir Next";
  src: url("/static/fonts/avenir-next/AvenirNext-Heavy.ttf");
  font-display: swap;
  font-style: normal;
  font-weight: 700;
}

@font-face {
  font-family: "Avenir Next";
  src: url("/static/fonts/avenir-next/AvenirNext-HeavyItalic.ttf");
  font-display: swap;
  font-style: italic;
  font-weight: 700;
}

@font-face {
  font-family: "Avenir Next";
  src: url("/static/fonts/avenir-next/AvenirNext-Bold.ttf");
  font-display: swap;
  font-style: normal;
  font-weight: 600;
}

@font-face {
  font-family: "Avenir Next";
  src: url("/static/fonts/avenir-next/AvenirNext-BoldItalic.ttf");
  font-display: swap;
  font-style: italic;
  font-weight: 600;
}

@font-face {
  font-family: "Avenir Next";
  src: url("/static/fonts/avenir-next/AvenirNext-DemiBold.ttf");
  font-display: swap;
  font-style: normal;
  font-weight: 500;
}

@font-face {
  font-family: "Avenir Next";
  src: url("/static/fonts/avenir-next/AvenirNext-DemiBoldItalic.ttf");
  font-display: swap;
  font-style: italic;
  font-weight: 500;
}

@font-face {
  font-family: "Avenir Next";
  src: url("/static/fonts/avenir-next/AvenirNext-Medium.ttf");
  font-display: swap;
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: "Avenir Next";
  src: url("/static/fonts/avenir-next/AvenirNext-MediumItalic.ttf");

  font-display: swap;
  font-style: italic;
  font-weight: 400;
}

@font-face {
  font-family: "Avenir Next";
  src: url("/static/fonts/avenir-next/AvenirNext-Regular.ttf");
  font-display: swap;
  font-style: normal;
  font-weight: 300;
}

@font-face {
  font-family: "Avenir Next";
  src: url("/static/fonts/avenir-next/AvenirNext-Italic.ttf");
  font-display: swap;
  font-style: italic;
  font-weight: 300;
}

@font-face {
  font-family: "Avenir Next";
  src: url("/static/fonts/avenir-next/AvenirNext-UltraLight.ttf");
  font-display: swap;
  font-style: normal;
  font-weight: 200;
}

@font-face {
  font-family: "Avenir Next";
  src: url("/static/fonts/avenir-next/AvenirNext-UltraLightItalic.ttf");
  font-display: swap;
  font-style: italic;
  font-weight: 200;
}
